
*{
    font-family: "Nova Square", serif;
    font-weight: 400;
    font-style: normal;  
}


.color1{
    color: rgb(139, 1, 2);
}

.color2{
    color: #ececec;
}

.color3{
    color: #663399;
}


/* navbar -------------------------------------------------------*/

.navbar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background:#ECECEC
    
}

.link{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.collegamento{
    text-decoration: none;
    color: rgb(65, 63, 63);
    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    
    height: 6em;
    
}

/* titolone -------------------------------------------------------- */

.titolone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#ececec,transparent),  url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    
}

.titolo{
    padding-top: 2%;
    margin-bottom: 11%;
    font-size: 500%;
    letter-spacing: 1em;
    
}

.montagne{
    position: absolute;
    top: 9em;
    left: 0em;
    height: 100%;
    z-index: 1;
    width: 100%;
    
    
}

/* sezione 2 ------------------------------------------------------------- */

.sezione2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #ECECEC;
    
}

.plorem{
    width: 60%;
    overflow-wrap: break-word;
    text-align: center;
    font-size: large;
    font-style: italic;
    color: rgb(65, 63, 63);
    
    
}

body{
    background-color: #ECECEC;
}




/* sezione 3 ----------------------------------------------------------------*/

.sezione3{
    margin-bottom: 13vh;
   
}


/* sezione 4 -----------------------------------------------------------------*/

.sezione4{  
    display: flex;
    justify-content: space-around; 
    height: 60vh;
    width: 100%;  
    margin-top: 15vh;
    margin-bottom: 8vh;
    
    
}

.sc41{
    width: 40%;
    height: 50%;
}

.sc42{
    width: 40%;
    height: 50%;
    text-align: right;
}

.bottone{
    position: relative;
    z-index: 2;
    margin-bottom: 10%;
    background-color: rgb(139 , 1, 2);
    width: 9%;
    font-size: large;
    color: #ECECEC;
    border:0px;
    font-weight: 10;
}

.sezbottone{
    display: flex;
    justify-content: center;
   
}

.alberi2{
    position: absolute;
    width: 100%;
    top: 106em;
    z-index: 1;
}

/* sezione 5 ----------------------------------------------------------------------------*/

.sezione5{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120vh;
   
}

.lista{
    
}

.larghezzalista{
    width: 50%;
    height: 100%;
}

.elementolista::before{
    content:"°";
    color: rgb(139 , 1, 2);
   
}


.alberisfondo{
    position: absolute;
    width: 40%;
    top: 160em;
    left: 50em;
}

/* sezione 6 ----------------------------------------------------------------------------------*/

.titsez{
    margin-left: 10%;
    margin-top: 5%;
}

.sezione6{
    width: 100%;
    height: 40vh;
    background-color: #ECECEC;
    margin-bottom: 35vh;
}

.grandezzafont{
    font-size: 80%;
}

.fogimg{
    padding: 2%;
    margin-top: 18%;
    width: 120px;
    height: 120px;
    border:  3px solid;
    border-color: rgb(139 , 1, 2);
    border-radius: 50%;
}

.spazio{
    margin-bottom: 50vh;
}
    

/*sezione7----------------------------------------------------------------------------------------------*/

.imgsz7{
    padding: 1%;
    height: 200px;
    width: 200px;
    border:  3px solid;
    border-color: rgb(139 , 1, 2);
    border-radius: 50%;
    
}


/*sezione footer-----------------------------------------------------------------------------------------*/

.imgszft{
    
    position: absolute;
    width: 100%;
    top: 257em;
}

.sezionefooter{
    width: 100%;
    height: 50vh;
    background-color: rgb(139 , 1, 2);
}

.linkfooter{
    text-decoration: none;
    color: white;
}
